.aftersale_wrapper {
  .aftersale_item_cascader {
    :deep(.el-input) {
      height: 24px;
    }
    :deep(.el-cascader__tags .el-tag) {
      margin: 0 0 0 5px;
    }
    :deep(.el-tag--small) {
      padding: 0 2px;
    }
    :deep(.el-cascader__tags) {
      flex-wrap: nowrap;

      span:first-child {
        max-width: 40px;
      }
      span:last-child {
        width: 30px;
      }
      input {
        min-width: 10px;
        height: auto;
        margin: 0;
      }
    }
  }
  :deep(.aftersale_item_mulselect .has-prefix) {
    span {
      display: none;
    }
    min-width: 60px;
  }
  :deep(.aftersale_item_statusList input) {
    margin-left: 2px;
  }
  :deep(.vxe-table--render-default .vxe-body--row.row--current) {
    .text_container::after {
      background: #e6f7ff;
    }
  }
  :deep(.vxe-table--render-default .vxe-body--row.row--hover.row--current) {
    &:hover {
      .text_container::after {
        background: #d7effb;
      }
    }
  }
  :deep(.vxe-table--render-default .vxe-body--row.row--hover, .vxe-table--render-default
      .vxe-body--row.row--hover.row--stripe) {
    &:hover {
      .text_container::after {
        background: #f5f7fa;
      }
    }
  }
  .text_wrapper {
    display: flex;
    .text_container_more {
      .text_container_btn {
        &::after {
          content: "收起" !important;
        }
      }
      &::after {
        visibility: hidden;
      }
    }
    .text_container {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.5;
      position: relative;
      &::before {
        content: "";
        float: right;
        width: 0;
        height: calc(100% - 20px);
      }
      &::after {
        content: "";
        width: 999vw;
        height: 999vw;
        position: absolute;
        background: #fff;
      }
      .text_container_btn {
        float: right;
        clear: both;
        &::before {
          content: "...";
          position: absolute;
          left: -10px;
          color: #333;
          transform: translateX(-100%);
        }
        &::after {
          content: "展开";
        }
      }
    }
  }

  .aftersale_table_wrapper {
    position: relative;
    .batch_btns_wrapper {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
  .aftersale_text_danger {
    color: #f56c6c;
    background: #fef0f0;
    border: 1px solid #fde2e2;
    border-radius: 4px;
    padding: 0 7px;
  }
}
